<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
   <%- include('./partial/nav.ejs') %>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if (blogs.length > 0) blogs.forEach(blog => {%>
            <a class="single" href="/blogs/<%= blog._id %>">
                <h1 class="title"><%= blog.title %></h1>
                <p class="snippet"><%= blog.snippet %></p>
                <textarea class = "body" cols="30" rows="10"><%= blog.body %></textarea>
            </a>
        <% }); else { %>
            <p>There are no blogs to display.</p>
        <% } %>
    </div>
    <%- include('./partial/footer.ejs') %>

</body>
</html>